$main-font: "Inter";
$main-black-color: #000;
$main-gray-color: #6C757D;
$main-green-color: #309E3A;
$main-red-color: #FF3D00;
$main-blue-color: #1D93FF;
$main-input-color: #CED4DA;
$main-white-color: #FFF;
$main-borderBottom-color: #D9D9D9;